
<html ng-app="simpleShare">
  <head>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="/static/js/app.js"></script>
    <base href="/"/>
  </head>
  <body ng-controller="MainController">
    <ng-view>Loading ...</ng-view>
    <script type="text/ng-template" id="home.html"><a href="/files">Files</a></script>
    <script type="text/ng-template" id="files.html">
      <base href="/files"/><a href="/">Home</a>[[files]]
      [[$location.path()]]
      <div><a ng-if="$location.path() != '/files'" href="[[$location.path()]]/..">..</a></div>
      <div ng-repeat="dir in files.dirs"><a href="[[$location.path()]]/[[dir]]">[[dir]]</a></div>
      <div ng-repeat="file in files.files"><a href="#">[[file]]</a></div>
    </script>
  </body>
</html>