
<html ng-app="simpleShare">
  <head>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/bower_components/less/dist/less.min.js"></script>
    <link rel="stylesheet" href="/bower_components/pure/pure-min.css"/>
    <link rel="stylesheet" href="/bower_components/pure/grids-responsive-min.css"/>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/simpleshare.less"/>
    <script src="/static/js/app.js"></script>
    <base href="/"/>
  </head>
  <body ng-controller="MainController">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-6">
        <ng-include src="'navbar.html'"></ng-include>
      </div>
      <div class="pure-u-1 pure-u-md-5-6">
        <ng-view>Loading ...</ng-view>
      </div>
    </div>
    <script type="text/ng-template" id="navbar.html">
      <nav class="pure-menu"><span class="pure-menu-heading">Simple Share</span>
        <ul class="pure-menu-list">
          <li ng-show="api.api != 'shared'" style="height: inherit;" class="pure-menu-item"><a ng-href="/files" ng-class="selected('/files')" class="pure-menu-link">Files</a></li>
          <li style="height: inherit;" class="pure-menu-item"><a href="/" ng-class="selected('/')" class="pure-menu-link">Home</a></li>
        </ul>
      </nav>
    </script>
    <script type="text/ng-template" id="home.html"></script>
    <script type="text/ng-template" id="files.html">
      <div id="content">
        <div id="actions">
          <div class="pure-g">
            <div id="create-folders" ng-show="api.api != 'shared'" class="pure-form pure-u-1 pure-u-md-1-3">
              <input ng-model="new_folder"/>
              <button type="submit" ng-click="create_folder()" class="pure-button pure-button-primary">Create folder</button>
            </div>
            <div id="upload-files" ng-show="api.api != 'shared'" class="pure-u-1 pure-u-md-1-3">
              <div ngf-select="ngf-select" ng-model="upload_files" ngf-multiple="true" class="pure-button pure-button-primary"><i class="fa fa-upload"></i>Upload</div>
            </div>
            <div id="download-zip" class="pure-u-1 pure-u-md-1-3">
              <div ng-click="download_zip()" class="pure-button pure-button-primary"><i class="fa fa-download"></i>Download as zip</div>
            </div>
          </div>
          <div ng-show="api.api != 'shared'" class="pure-g">
            <ul ng-show="upload_files.length &gt;0" class="pure-u-md-1-3">
              <li ng-repeat="u_file in upload_files">
                <div ng-style="{'width': u_file.up_progress + '%'}" class="progress-wrap progress">
                  <div class="progress-bar progress">[[u_file.up_progress]] [[u_file.name]] </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div id="files-list">
          <table class="pure-table pure-table-striped pure-table-horizontal">
            <thead>
              <tr>
                <th ng-click="select_all();" ng-class="{'fa': true, 'fa-square-o': !selected_all, 'fa-check-square-o': selected_all}"></th>
                <th ng-click="toggle_sort_by('name');">name</th>
                <th ng-click="toggle_sort_by('size');">size</th>
                <th ng-click="toggle_sort_by('date');">modified</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-show="$location.path() != '/files'">
                <td></td>
                <td><a ng-href="[[get_path('..')]]"><i class="fa fa-folder-o"></i>..</a></td>
                <td></td>
                <td></td>
              </tr>
              <tr ng-repeat="dir in files.dirs track by $index">
                <td><a ng-click="select(dir.name);" ng-class="{'fa': true, 'fa-square-o': !is_selected(dir.name), 'fa-check-square-o': is_selected(dir.name)}"></a></td>
                <td><a ng-href="[[get_path(dir.name)]]"><i class="fa fa-folder-o"></i>[[dir.name]]</a><a ng-if="api.api == 'files'" href="" ng-click="delete_path(dir.name)"><i class="fa fa-trash-o"></i></a><a ng-if="api.api == 'files'" href="" ng-click="share_path(dir.name)" class="show"><i class="fa fa-share-alt"></i></a>
                  <div class="shares-list">
                    <div ng-repeat="share in dir.shares">[[$location.protocol()]]://[[$location.host()]]/shared/[[share[0];]]/[[share[1];]]<a ng-if="api.api == 'files'" href="" ng-click="delete_path(dir.name + '/' + share[1], true)"><i class="fa fa-trash-o"></i></a></div>
                  </div>
                </td>
                <td>[[dir.size]]</td>
                <td>[[dir.mtime * 1000| date:'yyyy-MM-dd HH:mm:ss Z']]</td>
              </tr>
              <tr ng-repeat="file in files.files track by $index">
                <td><a ng-click="select(file.name);" ng-class="{'fa': true, 'fa-square-o': !is_selected(file.name), 'fa-check-square-o': is_selected(file.name)}"></a></td>
                <td><a ng-href="/get[[get_path(file.name)]]" target="_self"><i class="fa fa-file-o"></i>[[file.name]]</a><a ng-if="api.api == 'files'" href="" ng-click="delete_path(file.name)"><i class="fa fa-trash-o"></i></a><a ng-if="api.api == 'files'" href="" ng-click="share_path(file.name)" class="show"><i class="fa fa-share-alt"></i></a>
                  <div class="shares-list">
                    <div ng-repeat="share in file.shares">[[$location.protocol()]]://[[$location.host()]]/get/shared/[[share[0];]]/[[share[1];]]<a ng-if="api.api == 'files'" href="" ng-click="delete_path(file.name + '/' + share[1], true)"><i class="fa fa-trash-o"></i></a></div>
                  </div>
                </td>
                <td>[[file.size]]</td>
                <td>[[file.mtime * 1000| date:'yyyy-MM-dd HH:mm:ss Z']]</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </script>
  </body>
</html>