html(ng-app="simpleShare")
  head
    //- include angularjs
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/bower_components/angular-resource/angular-resource.min.js')
    //- script(src="/bower_components/es5-shim/es5-shim.min.js")
    script(src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js")
    script(src="/bower_components/ng-file-upload/ng-file-upload.min.js")
    script(src="/bower_components/less/dist/less.min.js")
    link(rel="stylesheet", href="/bower_components/pure/pure-min.css")
    link(rel="stylesheet", href="/bower_components/pure/grids-responsive-min.css")
    link(rel="stylesheet", href="/bower_components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/static/css/simpleshare.less")

    script(src='/static/js/app.js')
    base(href="/")
  body(ng-controller="MainController")
    div.pure-g
      div.pure-u-1.pure-u-md-1-6
        ng-include(src="'navbar.html'")
      div.pure-u-1.pure-u-md-5-6
        ng-view
          | Loading ...
    script(type='text/ng-template', id='navbar.html')
      nav.pure-menu
        span.pure-menu-heading Simple Share
        ul.pure-menu-list
          li.pure-menu-item(ng-show="api.api != 'shared'",style="height: inherit;")
            a.pure-menu-link(ng-href="/files", ng-class="selected('/files')") Files
          li.pure-menu-item(style="height: inherit;")
            a.pure-menu-link(href="/", ng-class="selected('/')") Home
    script(type='text/ng-template', id='home.html')
    script(type='text/ng-template', id='files.html')
      div#content
        //- base(href="/files")
        div#actions(ng-show="api.api != 'shared'")
          div.pure-g
            div#create-folders.pure-form.pure-u-1.pure-u-md-1-3
              input(ng-model='new_folder')
              button.pure-button.pure-button-primary(type='submit', ng-click="create_folder()")
                | Create folder
            div#upload-files.pure-u-1.pure-u-md-1-3
              div.pure-button.pure-button-primary(
                  ngf-select,
                  ng-model="upload_files",
                  ngf-multiple="true")
                  i.fa.fa-upload
                  | Upload
          div.pure-g
              ul.pure-u-md-1-3(ng-show="upload_files.length >0")
                li(ng-repeat="u_file in upload_files")
                  div.progress-wrap.progress(ng-style="{'width': u_file.up_progress + '%'}")
                    div.progress-bar.progress
                      | [[u_file.up_progress]] [[u_file.name]] 
        div#files-list
          table.pure-table.pure-table-horizontal
            thead
              tr
                th(ng-click="select_all();", ng-class="['fa', 'fa-square-o']")
                th(ng-click="toggle_sort_by('name');") name
                th(ng-click="toggle_sort_by('size');") size
                th(ng-click="toggle_sort_by('date');") modified
            tbody
              tr(ng-show="$location.path() != '/files'")
                td
                td
                  a(ng-href="[[get_path('..')]]")
                    i.fa.fa-folder-o
                    | ..
                td
                td
              tr(ng-repeat="dir in files.dirs track by $index")
                td
                  a(ng-click="select($index);", ng-class="['fa', 'fa-square-o']")
                td
                  a(ng-href="[[get_path(dir.name)]]")
                    i.fa.fa-folder-o
                    | [[dir.name]]
                  a(ng-if="api.api == 'files'", href="", ng-click="delete_path(dir.name)")
                    i.fa.fa-trash-o
                  a(ng-if="api.api == 'files'", href="", ng-click="share_path(dir.name)")
                    i.fa.fa-share-alt
                  div(ng-repeat="share in dir.shares")
                    | [[$location.protocol()]]://[[$location.host()]]/shared/[[share[0];]]/[[share[1];]]
                    a(ng-if="api.api == 'files'", href="", ng-click="delete_path(dir.name + '/' + share[1], true)")
                      i.fa.fa-trash-o
                td
                    | [[dir.size]]
                td [[dir.mtime * 1000| date:'yyyy-MM-dd HH:mm:ss Z']]
              tr(ng-repeat="file in files.files track by $index")
                td
                  a(ng-click="select($index);", ng-class="['fa', 'fa-square-o']")
                td
                  a(ng-href="/get[[get_path(file.name)]]", target="_self")
                    i.fa.fa-file-o
                    | [[file.name]]
                  a(ng-if="api.api == 'files'", href="", ng-click="delete_path(file.name)")
                    i.fa.fa-trash-o
                  a(ng-if="api.api == 'files'", href="", ng-click="share_path(file.name)")
                    i.fa.fa-share-alt
                  div(ng-repeat="share in file.shares")
                    | [[$location.protocol()]]://[[$location.host()]]/get/shared/[[share[0];]]/[[share[1];]]
                    a(ng-if="api.api == 'files'", href="", ng-click="delete_path(file.name + '/' + share[1], true)")
                      i.fa.fa-trash-o
                td [[file.size]]
                td [[file.mtime * 1000| date:'yyyy-MM-dd HH:mm:ss Z']]