ul {
    list-style: none;
}
.progress {
  width: 100%;
  height: 2em;
  line-height: 2em;
}
.progress-wrap {
  background: orange;
  margin: 20px 0;
  overflow: visible;
  white-space: nowrap;
  position: relative;
  .progress-bar {
    background: #f80;
    left: 0;
    position: absolute;
    top: 0;
  }
}

#files-list .pure-table.pure-table-striped tr:hover,
#files-list .pure-table.pure-table-striped tr:hover td  {
    background: orange;
}

a {
    color: #09b;
}

div.shares-list {
    display: none;
    margin-top: -1em;
    padding-top: 1.1em;
}
div.shares-list:hover {
    display: block;
}

a:hover + div.shares-list {
    display: block;
}